
@page "/reservas"
@inject IReservaManager ReservaManager
@inject NavigationManager urlHelper
@inject IJSRuntime JSRuntime
@inject IJSRuntime JSRuntime
@using Blazorise
@* @using Blazorise.Bootstrap *@
@using Blazorise.Icons.FontAwesome

<h1 class="btn-registro">Reservas de vehiculos</h1>
<br>
<button class="btn btn-outline-primary btn-agregar" @onclick="Agregar">Agregar</button>

<br>
<br>
<button class="btn btn-primary btn-imprimir" @onclick="MostrarInforme">Mostrar Informe</button>

@* <button class="btn-imprimir btn btn-primary" @onclick="Print">Imprimir</button> *@

<br>

@if (reservas != null)
{
    <br>
    <table class="table table-hover table-dark btn-imprimir">
        <thead>
            <tr>
                <th scope="col">#</th>
                <th scope="col">Fecha Inicio</th>
                <th scope="col">Fecha Final</th>
                <th scope="col">Cliente</th>
                <th scope="col">Vehiculo</th>
                <th scope="col">Dias</th>
                <th scope="col">Precio Renta</th>
                <th scope="col">Precio total</th>
                <th scope="col">Forma de pago</th>
                <th class="btn-edicion"></th>
                <th class="btn-eliminacion"></th>
                <th class="btn-factura"></th>
                <th class="btn-finalizar"></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var res in reservas)
            {
                <tr>
                    <th scope="row">@res.Id</th>
                    <th scope="row">@res.FechaInicio</th>
                    <th scope="row">@res.FechaFin</th>
                    <th scope="row">@res.Cliente.Nombre</th>
                    <th scope="row">@res.Vehiculo.Marca</th>
                    <th scope="row">@res.Dias</th>
                    <th scope="row">@res.precioRenta</th>
                    <th scope="row">@res.PrecioTotal</th>
                    <th scope="row">@res.NombrePago</th>
                    <th class="btn-edicion" scope="row">
                        <button class="btn btn-outline-warning" @onclick="()=>Editar(res.Id)">Editar</button>
                    </th>
                    <th class="btn-eliminacion" scope="row">
                        <button class="btn btn-outline-danger" @onclick="()=>MostrarConfirmacionEliminar(res.Id)">Eliminar</button>
                    </th>
                    <th class="btn-factura" scope="row">
                        <button class="btn btn-outline-primary" @onclick="()=>MostrarFactura(res)">Factura</button>
                    </th>
                </tr>
            }
        </tbody>
    </table>

}
else
{
    <p>No hay reservas registradas...</p>
}

@if (confirmacionVisible)
{
    <div>
        <span>¿Estás seguro de que deseas eliminar esta reserva?</span>
        <button class="btn btn-outline-danger" @onclick="ConfirmarEliminarReservas">Eliminar</button>
        <button class="btn btn-outline-secondary" @onclick="CancelarEliminarReserva">Cancelar</button>
    </div>
}

<Modal @ref="facturaModalRef" IsOpen="@facturaVisible">
    <ModalContent Class="modal-content my-custom-modal">
        <ModalHeader Class="my-custom-modal-header">
            <h5 style="color: blue;" class="modal-title">Aridio Renta Car</h5>
        </ModalHeader>
        <ModalBody Class="my-custom-modal-body">
            <!-- Contenido del modal -->
            @if (facturaVisible)
            {
                <h2><strong>Detalles de la factura:</strong></h2>
                <p><strong>Numero Factura: </strong> #@factura.Id</p>
                <p><strong>Numero Cliente: </strong> #@factura.ClienteId</p>
                <p><strong>Cliente: </strong> @factura.Cliente.Nombre</p>
                <p><strong>Cedula: </strong> @factura.Cliente.Cedula</p>
                <p><strong>Teléfono: </strong> @factura.Cliente.Telefono</p>
                <p><strong>Vehículo: </strong> @factura.Vehiculo.Marca @factura.Vehiculo.Modelo @factura.Vehiculo.Año</p>
                <p><strong>Vehículo Estado: </strong> @factura.Vehiculo.Mensaje</p>
                <p><strong>Fecha Inicio: </strong> @factura.FechaInicio</p>
                <p><strong>Fecha Final: </strong> @factura.FechaFin</p>
                <p><strong>Dias: </strong> @factura.Dias</p>
                <p><strong>Precio Renta: </strong> @factura.precioRenta</p>
                <p><strong>Precio Total: </strong> @factura.PrecioTotal</p>
                <p><strong>Forma de pago: </strong> @factura.NombrePago</p>
                <br>

                <p><strong>CONTRATO DE ALQUILER DE VEHÍCULO </strong></p>

                <p>Entre el Propietario del Vehículo y el Arrendatario, se acuerda el alquiler del siguiente vehículo:

                Marca: [@factura.Vehiculo.Marca]
                Modelo: [@factura.Vehiculo.Modelo]
                Año: [@factura.Vehiculo.Año]
                Matrícula: [@factura.Vehiculo.NumeroPlaca]
                Plazo de alquiler: [@factura.FechaInicio] a [@factura.FechaFin].

                Tarifa de alquiler: [$RD].
                Uso legal del vehículo.
                Mantenimiento y cuidado adecuado.
                Seguro de automóvil válido.</p>
                
                <p>Terminación anticipada: [@factura.Dias] días de notificación por escrito.</p>
                <p>Ley aplicable y jurisdicción: [Republica Dominicana], [Jima Abajo, La Vega].</p>

                <p><strong>Firmas:</strong></p>
                <p>Propietario del Vehículo: ________________________</p>
                <p>Arrendatario: ________________________</p>

                <div><button class="btn-imprimir btn btn-primary" @onclick="Print">Imprimir</button></div>
            }
        </ModalBody>
    </ModalContent>
</Modal>



<Modal @ref="informeModalRef" IsOpen="@informeVisible">
    <ModalContent Class="modal-content my-custom-modal">
        <ModalHeader Class="my-custom-modal-header">
            <h5 style="color: blue;" class="modal-title">Aridio Renta Car</h5>
        </ModalHeader>
        <ModalBody Class="my-custom-modal-body">
            <!-- Contenido del modal -->
            @if (informeVisible)
            {
                <h2><strong>Informe de reservas:</strong></h2>
                <p><strong>Cantidad de Reservas:</strong> @cantidadReservas</p>
                <p><strong>Cantidad de clientes: </strong> @cantidadClientes</p>
                <p><strong>Cantidad de vehículos: </strong> @cantidadVehiculos</p>
                <br>
                <h3><strong>Reservas por Mes:</strong></h3>
                <table class="table">
                    <thead>
                        <tr>
                            <th>Mes</th>
                            <th>Cantidad de Reservas</th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var kvp in reservasPorMes)
                        {
                            <tr>
                                <td>@kvp.Key</td>
                                <td>@kvp.Value</td>
                            </tr>
                        }
                    </tbody>
                </table>
                <p><strong>Cantidad de dinero obtenido: </strong> @cantidadDineroObtenido</p>
                <div><button class="btn-imprimir btn btn-primary" @onclick="Print">Imprimir</button></div>
            }
        </ModalBody>
    </ModalContent>
</Modal>


@code
{
    public List<ReservaRecord>? reservas { get; set; }
    bool confirmacionVisible = false;
    int reservaIdAEliminar = 0;
    private bool facturaVisible = false;
    private ReservaRecord factura;
    
    private Modal facturaModalRef; // referencia del Modal de Factura
    private Modal informeModalRef; // referencia del Modal de Informe
    private bool mostrarModal;
    private bool informeVisible = false;
    private int cantidadReservas = 0;
    private int cantidadVehiculos = 0;
    private int cantidadClientes = 0;

    private Dictionary<string, int> reservasPorMes;
    private decimal cantidadDineroObtenido;

    protected override async Task OnInitializedAsync()
    {
        await CargarReservas();
    }

    public void Agregar()
    {
        urlHelper.NavigateTo("/reservas/crear", false);
    }

    public void Editar(int Id)
    {
        urlHelper.NavigateTo($"/reservas/editar/{Id}", false);
    }

    private async Task MostrarConfirmacionEliminar(int reservaId)
    {
        reservaIdAEliminar = reservaId;
        confirmacionVisible = true;
    }

    private void CancelarEliminarReserva()
    {
        confirmacionVisible = false;
        reservaIdAEliminar = 0;
    }

    private async Task ConfirmarEliminarReservas()
    {
        var resultado = await ReservaManager.DeleteAsync(reservaIdAEliminar);
        if (resultado.Succeeded)
        {
            await CargarReservas();
        }
        else
        {
            // Manejar el error
        }

        confirmacionVisible = false;
        reservaIdAEliminar = 0;
    }

    private async Task CargarReservas()
    {

        var resultado = await ReservaManager.GetAsync();
        if (resultado != null && resultado.Succeeded)
        {
            reservas = resultado.Items.ToList();
            cantidadReservas = reservas.Count;
            cantidadVehiculos = reservas.Select(r => r.Vehiculo).Distinct().Count();
            cantidadClientes = reservas.Select(r => r.Cliente).Distinct().Count();

        // Calcular la cantidad de reservas por mes
        reservasPorMes = new Dictionary<string, int>();
        foreach (var reserva in reservas)
        {
            string mes = reserva.FechaInicio.ToString("MMMM");
            if (reservasPorMes.ContainsKey(mes))
                reservasPorMes[mes]++;
            else
                reservasPorMes[mes] = 1;
        }

        // Calcular la cantidad de dinero obtenido
        cantidadDineroObtenido = reservas.Sum(r => r.PrecioTotal);
        }
        else
        {
            // Manejar el error
        }
    }

    private async Task Print()
    {
        await JSRuntime.InvokeVoidAsync("print");
    }

    private void MostrarFactura(ReservaRecord reserva)
    {
        factura = reserva;
        facturaVisible = true;
         facturaModalRef.Show();
    }

    private async Task CerrarFactura()
    {
        await JSRuntime.InvokeVoidAsync("CerrarModalFacturaAsync");
    }

@* private void AlternarModal()
    {
        mostrarModal = !mostrarModal;
        if (mostrarModal)
        {
            facturaVisible = true;
            facturaModalRef.Show();
        }
        else
        {
            facturaModalRef.Hide();
        }
    } *@

    private void MostrarInforme()
    {
        informeVisible = true;
        informeModalRef.Show();
    }








}
